main {
    min-height: 100vh;
}
.sortFormClass {
    background: rgb(51, 51, 51);
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.spanSortBy {
    width: 40%;
    color: white;
    font-size: 20px;
    margin-left: 30px;
}
.form-control-sort {
    width: 60%;
    font-family: 'Abyssinica SIL', serif;
    border: 1px solid rgb(202, 202, 202);
    color: black;
    font-size: 20px;
    background: white;
    margin-right: 20px;
}
.form-control-sort:hover {
    border-color: rgb(176, 44, 202);
}


.btn-buttonUp {
    position: fixed; 
    right: 5px; 
    top: 91%; 
    padding: 10px;
    background: white; 
    border-radius: 5px;
    font-size: 25px;
}
.btn-buttonUp:hover {
    color: rgb(176, 44, 202);
    border: 1px solid rgb(176, 44, 202);
    border-radius: 5px;
}


.list-group {
    padding-left: 5%;
    padding-right: 5%;
}
.list-group-item {
    list-style-type: none;
    width: 100%;
    margin-bottom: 5px;
}
.list-group-item:hover {
    border: 1px solid rgb(176, 44, 202);
    border-radius: 7px;
}
.contact-name {
    text-decoration: none;
    color: black;
    display: inline-block;
    width: 32%;
    margin-left: 10px;
    word-wrap: break-word;
}
.contact-name:hover {
    cursor: pointer;
    font-weight: bold;
}
.contact-short-info {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 7px;
    padding-right: 7px;
    background: white;
    border-radius: 7px;
    font-size: 20px;
}
.contact-short-info:hover {
    background: rgb(241, 241, 241);
}
.contact-full-info {
    background: rgb(212, 212, 212);
    border-radius: 7px;
    margin-top: -16px;
}
.contact-buttons {
    text-align: right;
}
.btn-icon-update {
    background:url(../Content/phone.svg) no-repeat;
    cursor:pointer;
    border:none;
    width: 75px;
    font-family: 'Abyssinica SIL', serif;
    font-size: 0.8em;
}
.btn-icon-update:hover {
    font-weight: bold;
}
.btn-icon-edit {
    background:url(../Content/pen.svg) no-repeat;
    cursor:pointer;
    border:none;
    width: 75px;
    font-family: 'Abyssinica SIL', serif;
    font-size: 0.8em;
    margin-left: -20px;
}
.btn-icon-edit:hover {
    font-weight: bold;
}
.btn-icon-delete {
    background:url(../Content/trash.svg) no-repeat;
    cursor:pointer;
    border:none;
    width: 90px;
    font-family: 'Abyssinica SIL', serif;
    font-size: 0.8em;
    margin-left: -20px;
}
.btn-icon-delete:hover {
    font-weight: bold;
}
.contact-card {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 17px;
}

.list-group-item-loading {
    list-style-type: none;
    text-align: center;
}
.preloader {
    width: 60%;
    height: 30%;
}
.list-group-item-loading div {
    color: rgb(176, 44, 202);
    font-family: 'Abyssinica SIL', serif;
    font-size: 20px;
}



