.list-group-container {
    margin: 0 auto;
    background: rgb(0, 0, 0);
    padding-top: 15px;
    padding-bottom: 15px;
}
.list-group-footer {
    display: table;
    margin: 0 auto;
}
.list-group-item-footer {
    list-style-type: none;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}
.collapse-footer-about-us {
    text-align: center;
    transform: translateX(-150%);
    animation: ani 0.25s forwards;
    padding-bottom: 12px;
    padding-top: 12px;
}
.aboutUsText {
    color: white;
    font-size: 20px;
}